/* Adicione este estilo no seu arquivo de estilo (por exemplo, styles.css ou styles.scss) */

h1 {
  text-align: center;
}

.table-cadastr {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 10px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-chip-listbox {
  display: flex;
  flex-wrap: wrap;
}

.cadastr-button {
  width: 100%;
  margin-top: 10px;
}
